<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="{$ckeywords}{$keywords}">
<meta name="description" content="{$cdescription}{$description}">
<link rel="shortcut icon" href="{$webpath}favicon.png" />
<link rel="stylesheet" type="text/css" href="{$tplpath}top.css" />
<link rel="stylesheet" type="text/css" href="{$tplpath}list.css" />

<include file="system" />
</head>
<body>
<include file="header" />
<div class="box_n">
	<div class="main_n">
		<div class="list_l">
			
			<div class="ranks j-rank"><h4>热门专题排行</h4>
				<ol>
				<gxcms name="special"  limit="10" order="hits desc">
                
				<li><span>{$special.addtime|get_color_date='m-d',###}</span><a href="{$special.readurl}" title="{$special.title}">{$special.title|get_replace_html=0,12}</a></li>
				
				 </gxcms> 
				</ol>
			</div>
			
			<div class="ranks j-rank"><h4>热门影视排行</h4>
				<ol>
				<gxcms name="video" cid="1,2,3,4" limit="10" order="hits desc"> 
               <li><span>{$video.addtime|get_color_date='m-d',###}</span><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,15}</a></li>
             </gxcms>
		</ol>
			</div>
			
		</div>
		
		
		
		<div class="list_r">
			<div class="longtit">
				<div class="fl">您现在的位置： {$navtitle}</div>
				<div class="fr aves">
				</div>
			</div>
   		
		
	  <div class="newscontent">
        	<h1>{$title|get_replace_html=0,30}</h1>
        	<h2>专题更新时间：{$special.addtime|date='Y-m-d H:m:s',###}</h2>
        	<p><notempty name="picurl">
              <div class="pic"  align="center"> 
			  <img src="{$logo}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" width="237" height="142" />
			  </div> 
			</notempty>
            {$content}</p>
   
            <h2 style="margin:20px">相关影视</h2>	
			<ol class="on" id="tabx_c_1">
          <ul class="mov_pic_list">
          <gxcms name="video" ids="'.$mids.'" limit="1000">
		  <li>
          <div class="pic"><a href="{$video.readurl}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" width="98" height="140" border="0"/></a></div>
          <div class="mid_title"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,7}</a></div>
          </li></gxcms>
          </ul>
		  </div>
		  </ol>
		   
           
	
	
	
    </div>
	
		
		
		
		
		</div>
		
		
		

		
		
		
		
		
		
		
	</div>
</div>
{$inserthits}
<include file="footer" />
</body>
</html>
