<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}">
<link rel="shortcut icon" href="{$webpath}favicon.png" />
<link rel="stylesheet" type="text/css" href="{$tplpath}top.css" />
<link rel="stylesheet" type="text/css" href="{$tplpath}list.css" />
<include file="system" />
</head>
<body>
<include file="header" />
<div class="series">
	<div class="left">
		<div class="prime">
		<gt name="count" value="0">
		<div class="title"><span>共找到{$count}条与"{$keyword}"的相关结果</span><h3>搜索</h3></div>
			<div class="list">
			 <gxsearch name="video" limit="10" order="'.$order.'">
			 <dl class="w128">
				<dt><a href="{$video.readurl}" target="_blank" title="{$video.title}"><img src="{$video.picurl}" alt="{$video.title}" class="loading" border="0" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /></a></dt>
				<dd>
				<p class="p1"><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video['title']|get_replace_html=0,10|get_hilight=$keyword}</a></p>
				<p class="p2">评分:{$video.score}</p>
				</dd>
				</dl>	
				</gxsearch>	
				</div>
			<if condition="$count gt 10"><div class="page">{$pages}</div></if>
			<else />
			<div style="height:200px; line-height:200px; text-align:center">未找到与"<span class="kw-hilight">"{$keyword}"</span>"相关的视频，请给我们<a href="{$guestbookurl}">留言</a>!</div>
             </gt>
				</div>
	</div>
	<div class="right">
		<div class="rank j-rank"><h4><a href="{$topurl}" target="_blank">热门{$cname}排行</a></h4>
			<ol>
			<gxcms name="video" cid="'.$cid.'" limit="10" order="weekhits desc"> 
        <li><span>{$video.addtime|get_color_date='m-d',###}</span><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,15}</a></li>
        </gxcms>
		</ol>
		</div>
		
		<div class="rank j-rank"><h4><a href="{$topurl}" target="_blank">网友最爱{$cname}</a></h4>
			<ol>
			<gxcms name="video" cid="'.$cid.'" limit="10" order="score desc"> 
        <li><span>{$video.addtime|get_color_date='m-d',###}</span><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,15}</a></li>
        </gxcms>
		</ol>
		</div>
		
		
		
	
	</div>
</div>
<include file="footer" />
</body>
</html>
