<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="{$ckeywords}{$keywords}">
<meta name="description" content="{$cdescription}{$description}">
<link rel="shortcut icon" href="{$webpath}favicon.png" />
<link rel="stylesheet" type="text/css" href="{$tplpath}top.css" />
<link rel="stylesheet" type="text/css" href="{$tplpath}list.css" />
<include file="system" />
</head>
<body>
<include file="header" />
<div class="series">
	<div class="left">
		<div class="prime">
		<div class="title"><span></span><h3>影片检索：</h3></div>
			<div class="mov_index">
			<if condition="(get_channel_son($cid) eq 0) or ($pid gt 0)">
            <dl>
            <dt>按类型</dt>
            <dd>
            <gt name="pid" value="0">
            <gxcms name="menu" ids="'.$pid.'"><gxfor name="menu.son" id="menuson"> <a href="{$menuson.showurl}" <eq name="cid" value="$menuson.id">class="Class"</eq>>{$menuson.cname}</a></gxfor></gxcms>
           <else />
		   <gxcms name="menu" ids="'.$cid.'"><gxfor name="menu.son" id="menuson"> <a href="{$menuson.showurl}" <eq name="cid" value="$menuson.id">class="Class"</eq>>{$menuson.cname}</a></gxfor></gxcms>
           </gt></dd>
          </dl></if>
		     <dl>
				<dt>按地区</dt>
				<dd id="areahtml">{$area}</dd>
			  </dl>
			  <dl>
				<dt>按时间</dt>
				<dd id="yearhtml">{$year}</dd>
			  </dl>
			  <dl  style="border-bottom: 0px">
				<dt>按拼音</dt>
				<dd id="letter">{:get_letter_url($cid,$letter,'video')}</dd>
			  </dl>
			</div>		
		</div>
        	
		<div class="prime">
			<div class="title"><span>排序：<a href="{$webpath}index.php?s=video/lists/id/{$cid}/order/addtime">按时间&nbsp;</a>| <a href="{$webpath}index.php?s=video/lists/id/{$cid}/order/weekhits">按人气&nbsp;</a>| <a href="{$webpath}index.php?s=video/lists/id/{$cid}/order/score">按评分</a></span><h3>{$cname}</h3></div>
			<div class="list">
			<gxlist name="video" cid="'.$cid.'" limit="20" order="'.$order.'">
			<dl class="w128">
                <dt><a href="{$video.readurl}" target="_blank" title="{$video.title}"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" border="0" alt="{$video.title}" class="loading" onerror="javascript:this.src='/xl/img/nopic.jpg';" alt="{$video.title}" /></a></dt>
				<dd>
				<p class="p1"><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,12}</a></p>
				<p class="p2">评分:{$video.score}</p>
				</dd>
				</dl>
				</gxlist>
			</div>
			<gt name="count" value="10"><div class="page">{$pages}</div></gt>
				</div>
	</div>
	<div class="right">
		<div class="rank j-rank"><h4><a href="{$topurl}" target="_blank">热门{$cname}排行</a></h4>
			<ol>
			<gxcms name="video" cid="'.$cid.'" limit="10" order="weekhits desc"> 
        <li><span>{$video.weekhits}℃</span><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,15}</a></li>
        </gxcms>
			</ol>
		</div>
        
		<div class="rank j-rank"><h4><a href="{$topurl}" target="_blank">网友最爱{$cname}</a></h4>
			<ol>
			<gxcms name="video" cid="'.$cid.'" limit="10" order="score desc"> 
        <li><span>{$video.score}分</span><a href="{$video.readurl}" target="_blank" title="{$video.title}">{$video.title|get_replace_html=0,15}</a></li>
        </gxcms>			</ol>
		</div>
		
	</div>
</div>
<include file="footer" />
</body>
</html>
